@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes writtingAnimation {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.home {
    height: 100vh;
    display: grid;
}

.home .animationWrapper {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    z-index: 1;
}

.home .animationWrapper .animation {
    height: 100%;
    width: 50%;
}

.home .Text-box {
    z-index: 0;
    display: grid;
    text-align: center;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.home .Text-box .Title {
    font-size: clamp(1rem, 3.5vw, 4rem);
    color: var(--font-color);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: max-content;
}

.home .Text-box .Title::before,
.Title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home .Text-box .Title::before {
    background: var(--bg-color);
    animation: writtingAnimation var(--writtingAnimationSpeed) steps(var(--writtingAnimationCharacters)) 1s forwards;
}

.home .Text-box .Title::after {
    height: clamp(1rem, 3vw, 4rem);
    width: 0.5rem;
    background: var(--special-color);
    animation: writtingAnimation var(--writtingAnimationSpeed) steps(var(--writtingAnimationCharacters)) 1s forwards,
        blink 1000ms steps(var(--writtingAnimationCharacters)) infinite;
}

.home .Text-box .Subtitle {
    margin-top: max(8vh, 80px);
    opacity: 0;
    color: var(--font-color);
    font-size: clamp(0.7rem, 1.5vw, 3rem);
    animation: 3s ease 3s normal forwards 1 fadeIn;
}

.home .Text-box .Title strong {
    color: var(--special-color);
}