.SandboxWrapper {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    display: flex;
    gap: 10px;
    flex-flow: column nowrap;
}

.SandboxWrapper .TaskPageColumn {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.column {
    flex: 50%;
    overflow: hidden;
}

.SandboxWrapper .item {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    width: 100%;
    padding-top: 5px;
    flex-grow: 1;
}

.SandboxWrapper .CodeMirror {
    height: 45vh;
}

.controlledEditorWrapper {
    height: 100%;
}

.rowItem {
    /* height: 50%; */
}

.columnItem {
    height: 100%;
}

.editor {
    height: 100%;
}

.SandboxWrapper .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SandboxWrapper .buttons .buttonsFrame {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    display: flex;
    width: max-content;
    gap: 30px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

.SandboxWrapper .myFrameHigh {
    border: none;
}

.SandboxWrapper .TaskPageButton {
    width: 4vw;
    height: 3vh;
    min-height: 30px;
    min-width: 30px;
    cursor: pointer;
}

.SandboxWrapper .taskFrameHeader {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 15px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}