.TaskPage {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    margin: 1vh;
    padding-bottom: 0.5vh;
    padding-top: 1vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 96.5vh;
}

.taskName {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: xx-large;
}

.controlPanel {
    overflow: hidden;
    justify-content: center;
}

.buttons {
    height: max(3vh, 40px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    backdrop-filter: blur(10.3px);
    padding: 0.5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: max(20vw, 200px);
}

.TaskPage {
    align-self: stretch;
}

.break-column {
    flex-basis: 100%;
    width: 0;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.item {
    width: 46vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    overflow: hidden;
}

.cssEditor {
    margin-left: 1vw;
}

.expectedResult {
    margin-left: 1vw;
}

.wideItem {
    margin-top: 1vh;
    width: 93vw;
}

.myFrame {
    background-color: white;
    border: none;
    height: 40vh !important;
    width: 46vw;
}

.myFrameWide {
    background-color: white;
    border: none;
    height: 40vh !important;
    width: 93vw;
}

.taskFrameHeader {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 15px;
    font-size: 1.8vh;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.CodeMirror {
    height: 40vh !important;
    font-size: x-large;
}

.TaskPageButton {
    margin-top: auto;
    margin-bottom: auto;
    width: 4vw;
    height: 3vh;
    min-height: 30px;
    min-width: 30px;
}