.TaskPage {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    margin: 0.5vh;
    padding-bottom: 0.5vh;
    padding-top: 1vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 98vh;
    align-self: stretch;
}

.TaskPage .taskName {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: xx-large;
}

.TaskPage .controlPanel {
    overflow: hidden;
    justify-content: center;
}

.TaskPage .buttons {
    height: max(3vh, 40px);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    backdrop-filter: blur(10.3px);
    padding: 0.5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: max(20vw, 200px);
}

.TaskPage .break-column {
    flex-basis: 100%;
    width: 0;
}

.TaskPage .break {
    flex-basis: 100%;
    height: 0;
}

.TaskPage .item {
    width: 49vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    padding-top: 1vw;
    padding-bottom: 1vw;
    overflow: hidden;
}

.TaskPage .cssEditor {
    margin-left: 0.5vw;
}

.TaskPage .expectedResult {
    margin-left: 0.5vw;
}

.TaskPage .myFrame {
    background-color: white;
    border: none;
    height: 40vh !important;
    width: 49vw;
}

.TaskPage .taskFrameHeader {
    white-space: nowrap;
    overflow: hidden;
    padding-left: 15px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.TaskPage .CodeMirror {
    height: 42vh !important;
    font-size: x-large;
}

.TaskPage .TaskPageButton {
    margin-top: auto;
    margin-bottom: auto;
    width: 4vw;
    height: 3vh;
    min-height: 30px;
    min-width: 30px;
}