.technology {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technologyItem {
    flex: 50%;
    width: 50%;
    height: 100%;
}

.technologyText {
    padding: 10px;
}