.taskbarWrapper .sticky-menu-items {
    height: max(6vh, 55px);
    list-style: none;
    overflow: hidden;
    display: flex;
    border-bottom: solid;
    padding-left: 5vw;
    align-items: stretch;
    justify-content: stretch;
    background-color: rgba(228, 227, 227, 0.85);
}

.taskbarWrapper .sticky-menu-items li {
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex: 1 1;
    flex-grow: 1;
}

.taskbarWrapper .sticky-menu-items .logoWrapper {
    font-size: xx-large;
    line-height: max(6vh, 55px);
}

.taskbarWrapper .sticky-menu-items .logoWrapper .myStrong {
    color: var(--special-color);
}

.taskbarWrapper .sticky-menu-items .barLogoutWrapper {
    height: max(5vh, 45px);
    margin-top: max(0.5vh, 5px);
    line-height: max(6vh, 55px);

    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.taskbarWrapper .sticky-menu-items .barLogoutWrapper .userBar {
    min-width: min-content;
    transition: width 10s linear;
    height: max(5vh, 45px);
    cursor: pointer;
    margin-right: 5vw;
    margin-left: auto;
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 100px;
    padding: 0px 20px;
    border-radius: 8px;
    background-color: rgba(247, 135, 100, .6);
    font-size: 35px;
}

.taskbarWrapper .sticky-menu-items .barLogoutWrapper .userBar:hover {
    background-color: rgba(247, 135, 100, .7);
}

.taskbarWrapper .sticky-menu-items .barLogoutWrapper .userBar:active {
    background-color: rgba(247, 135, 100, .8);
}

.taskbarWrapper .sticky-menu-items .barLogoutWrapper .userBar .textArea {
    height: max(5vh, 35px);
    line-height: max(5vh, 35px);
}

.taskbarWrapper .sticky-menu-items .barLogoutWrapper .userBar .textArea .userIcon {
    vertical-align: middle;
    margin-right: 0.5vw;
}

.logoutUserIcon {
    vertical-align: middle;
    margin-right: 0.5vw;
    margin-left: 1vw;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 6px;
    padding: 2px;
}

.taskbarWrapper .sticky-menu-items .adminPanel {
    text-align: center;
    font-size: x-large;
    line-height: max(6vh, 55px);
}