.modalDescription {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.modalDescription .modalHeader {
    text-align: center;
    font-size: x-large;
    margin-bottom: 2vh;
}

.modalDescription .modalBody {
    font-size: large;
}

.buttonDescription {
    margin-top: 2vh;
}

.buttonHeader {
    margin-bottom: 1vh;
}

.separator {
    margin-left: 7px;
    margin-right: 7px;
}

.buttonListIcon {
    vertical-align: middle;
}

.buttonList li:not(:last-child) {
    margin-bottom: 20px;
}