:root {
    --typewriterSpeed: 3s;
    --typewriterCharacters: 13;
    --font-color: #453F3C;
    --special-color: #F78764;
}

.tasks {
    height: 100vh;
    position: relative;
}

.tasksWrapepr {
    -webkit-box-shadow: 0px 20px 15px -13px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 20px 15px -13px rgba(0, 0, 0, 0.21);
    width: 45vw;
    background-color: transparent;
    margin: auto;
}

.taskTitle {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 45vw;
    background-color: rgba(0, 0, 0, .2);
    color: var(--font-color);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 2;
    padding: 10px;
    border-radius: 6px;
    margin-top: 5px;
}

.taskTitle:hover {
    cursor: pointer;
    background-color: rgba(247, 135, 100, .5);
}

.taskTitle:active {
    background-color: rgba(247, 135, 100, .65);
}

.taskDescription {
    margin-top: 0px;
    width: 45vw;
    padding: 10px;
    height: 200px;
    background-color: rgba(0, 0, 0, .1);
}

.exerciseList {
    list-style: none;
}

.exercise {
    cursor: pointer;
}

.exerciseHeader {
    margin-top: 10px;
    margin-bottom: 10px;
}

.myLink {
    text-decoration: none;
}