@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --text-color: #fff;
  --writtingAnimationSpeed: 3s;
  --writtingAnimationCharacters: 13;
  --font-color: #453F3C;
  --special-color: #F78764;
  --bg-color: #D6E6FF;
}

* {
  padding: 0;
  margin: 0;
  font-family: Courier, Courier;
}

body {
  background-color: var(--bg-color);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0vh;
  z-index: 9999;
}