@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --font: sans-serif;
  --submit-color: #06b;
  --submit-hover: rgb(97, 163, 217);
  --text-color: #fff;
  --background-gradient: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bg-color);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(10vh);
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0vh;
  z-index: 99999;
}